<section>
  <mat-card>
    <div>
      <img src="./assets/img/logo.png" />  
    </div>
  </mat-card>
  <mat-card id="maincard">
    <div>
      <div class="btn">
        <button mat-raised-button color="primary" (click)="navigate('nearby-cafes')">Near by cafes</button>
      </div>
      <div class="btn">
        <button mat-raised-button color="primary" (click)="navigate('scan-qr-code')">My Smart cup</button>
      </div>
      <div class="btn">
        <button mat-raised-button color="primary">Preferences</button>
      </div>
    </div>
  </mat-card>
  
  <!-- <mat-tab-group (selectedTabChange)="executeSelectedChange($event)">
    <mat-tab label="Section 1"> 
      <p>This is the content for Section 1</p> 
    </mat-tab>
    <mat-tab label="Section 2">
      <p>This is the content for Section 2</p> 
    </mat-tab>
    <mat-tab label="Section 3">
      <p>This is the content for Section 3</p> 
    </mat-tab>
  </mat-tab-group> -->
</section>
