<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
      <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/scan-qr-code" (click)="onSidenavClose()">
      <mat-icon>code</mat-icon> <span class="nav-caption">Scan QR Code</span>   
  </a>
  <a mat-list-item routerLink="/nearby-cafes" (click)="onSidenavClose()">
      <mat-icon>local_cafes</mat-icon><span class="nav-caption">Nearby Cafes</span>
  </a>
</mat-nav-list>